




/*
     FILE ARCHIVED ON 14:48:14 Mar 23, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 0:51:22 Nov 6, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.header{border-bottom:1px solid #E5E5E5;margin-bottom:30px;padding-bottom:10px;}.feel-prefix{font-size:18px;font-weight:300;}.img-circle{height:60px;padding:0;}.container{max-width:700px;}.intro{margin-bottom:50px;}.green-text{color:green;}.feel-block{margin-bottom:30px;padding:10px 0 0 0;box-shadow:0 1px 1px 1px #E5E5E5;}.feel-block>.col-md-2>a{padding:3px 5px;margin-right:40px;font-size:11px;margin-bottom:3px;display:block;}.feel-block>.col-md-2{padding:10px 0 0 0;}.menu{margin-top:20px;margin-bottom:10px;}.post-form{width:400px;margin:0px auto;}.replies{margin-left:50px;}.iktf{position:fixed;bottom:0px;right:0px;padding:3px;}